<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}SKI-PM{% endblock %}</title>
    <link rel="stylesheet" href="{{ baseUri }}/assets/css/style.css">
    {% block sylesheets %}

    {% endblock %}
</head>
<body>
<header class="navbar">
    <div class="navbar-logo">
        <img class="navbar-img" src="" alt="ski-pm logo">
    </div>
    <nav class="navbar-nav">
        <ul class="navbar-navigation">
            <li class="navbar-item">
                <a class="navbar-link" href="{{ baseUri }}/">Accueil</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="{{ baseUri }}/news">Actualit&eacute;s</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="{{ baseUri }}/clubs">Clubs</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="{{ baseUri }}/races">Comp&eacute;titions</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="{{ baseUri }}/contact">Contact</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="{{ baseUri }}/about">&Agrave; propos</a>
            </li>
        </ul>
    </nav>
</header>
<main class="main-content">
    {% block body %}

    {% endblock %}
</main>
{% block javascripts %}

{% endblock %}
</body>
</html>
